body{
    height: 100vh;
    padding-top: env(safe-area-inset-top, 0);
    cursor: default;
}

#app{
    height: 100%;
    // display: flex;
    // flex-direction: column;

    & > .layout{
        flex-grow: 1;
    }

    @include mobile(){
        @if $mobile-has-navbar {
            padding-top: 60px;
        }

        @if $mobile-has-tabbar {
            padding-bottom: 60px;
        }
    }
}

.layout{
    display: flex;
    height: 100%;
    position: relative;
}

.layout-content{
    flex-grow: 1;
    max-height: 100%;
    overflow: auto;
}

.layout-content .content{
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include desktop(){
        min-height: 100%;
    }

    @include mobile(){
        // padding-bottom: 100px;
    }
}

.navbar-main{
    display: none;

    @include mobile(){
        display: block;
        height: 60px;
        flex-basis: 60px;
        background-color: var(--bs-body-bg);
        border-bottom: 1px solid var(--bs-secondary-bg);
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.page-header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: .5rem;

    h1{
        margin-bottom: 0;
        font-size: $h2-font-size;
        font-weight: 700;
        margin-right: auto;

        @include desktop(){
            padding: .25rem 0;
        }
    }

    h3{
        margin-bottom: 0;
        font-weight: 700;
        margin-right: auto;

        @include desktop(){
            padding: .25rem 0;
        }
    }
}
