.layout-sidebar{
    min-width: 260px;
    max-width: 360px;
    width: 35%;
    flex-basis: 35%;
    background: var(--bs-tertiary-bg);
    border-left: 1px solid var(--bs-secondary-bg);
    display: flex;
    flex-direction: column;
    overflow: auto;

    .sidebar-content{
        padding: .5rem .75rem;
    }

    @include mobile(){
        display: none;
        z-index: 99;
        height: 100%;

        @if $mobile-has-navbar OR $mobile-has-tabbar {
            max-height: calc(100vh - 60px);
        } @else {
            max-height: 100vh;
        }

        border: none;
        position: fixed;
        width: 100%;
        max-width: 100%;
        top: 0;

        @if $mobile-has-navbar {
            top: 60px;
        }

        &.open{
            display: flex;
        }
    }
}
