@include desktop(){
    .hover-group{
        .hover-hidden{
            visibility: visible;
        }
    }

    .hover-group:hover{
        .hover-hidden{
            visibility: hidden;
        }
    }

    .hover-group{
        .hover-visible{
            visibility: hidden;
        }
        .hover-block{
            display: none;
        }
    }

    .hover-group:hover{
        .hover-visible{
            visibility: visible;
        }
        .hover-block{
            display: block;
        }
    }
}

.hover{
    &\:text-body-secondary{
        color: var(--bs-secondary-color) !important;
    }
    &\:text-body-tertiary{
        color: var(--bs-tertiary-color) !important;
    }
}
