/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# symlink ignores
stubs/resources/views/welcome.blade.php
stubs/resources/views/test*.blade.php
stubs/resources/views/test*/*
stubs/resources/views/livewire/test-*.blade.php
Prefabs/resources/**/test-*.blade.php
.vscode/sftp.json

