.avatar{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    border-radius: 100%;
    font-size: .875rem;
    box-shadow: 0 0 0 2px var(--bs-body-bg);
    flex-shrink: 0;
    color: var(--bs-body-color);

    img{
        display: block;
        width: 100%;
        height: 100%;
    }

    & + &{
        margin-left: -5px;
    }
}

.avatar-xs{
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: .625rem;
}

.avatar-sm{
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .75rem;
}

.avatar-lg{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
}
