.btn-facebook{
    color: white;
    background: #4267B2;

    &:hover,
    &:focus{
        color: white;
        background: #3a5b9c;
    }
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active{
    background: transparent !important;
}

.btn-danger{
    color: white;

    &:hover{
        color: white;
    }
}

.btn-sq{
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-y);
    width: 2.25rem;

    &.btn-sm{
        width: 2rem;
    }
}

.btn-toggle{
    display: inline-flex;
    align-items: center;
}

.btn-toggle::before {
    width: 1.25em;
    margin-right: .5rem;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28128,128,128,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before,
.btn-toggle:has([aria-expanded="true"])::before {
    transform: rotate(90deg);
}
