.dropdown-menu{
    box-shadow: var(--bs-dropdown-box-shadow);
    max-width: 100vw;
}

.selectbox .dropdown-menu{
    max-width: min(24rem, 100vw);
}

.selectbox .dropdown-items{
    max-height: min(400px, 60vh);
    overflow: auto;
    max-width: 100%;
}

@include color-mode(dark) {
    .dropdown-menu{
        --bs-dropdown-border-color: rgba(115, 115, 115, 0.25);
        background-color: #0f0f0f;
    }
}

.dropdown-item{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-item > span{
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.dropdown-ico,
.dropdown-item-icon{
    color: var(--bs-tertiary-color);
    margin-right: .5rem;
    border-radius: var(--bs-border-radius);
}

.dropdown-img{
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    line-height: 2rem;
    margin-right: .75rem;
    font-size: .875rem;

    img{
        width: 100%;
        height: 100%;
    }
}

.dropdown-item .form-check-input {
    margin-right: .75rem;
    margin-top: 0;
}

.dropdown-input {
    background: transparent;
    border: none;
    border-top-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    border-top-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    color: inherit;
    display: block;
    margin-bottom: 4px;
    margin-top: -4px;
    min-width: 12rem;
    padding: .35rem .75rem;
    width: calc(100% + calc(2 * var(--bs-dropdown-padding-y)));
    margin-left: calc(-1*var(--bs-dropdown-padding-y));
    margin-right: calc(-1*var(--bs-dropdown-padding-y));

    &:focus{
        outline: none;
    }
}
