.card-action {
    padding: 0 $card-spacer-x $card-spacer-y;
    display: flex;
    justify-content: flex-end;
}

.custom-checkbox{
    cursor: pointer;

    .custom-control-label{
        cursor: pointer;
    }
}

.form-group label{
    font-weight: 500;
}

.invalid-feedback strong{
    font-weight: 500;
}

.form-group{
    margin-bottom: .75rem;
}

select[multiple]{
    height: 50px;
}

.form-select{
    cursor: default;
}

.form-control-lg,
.btn-lg{
    line-height: 1.5;
}

.form-switch{
    line-height: 1;
}

.input-group {
    flex-wrap: nowrap;

    &:not(.has-validation) {
        > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
        >.dropdown-toggle:nth-last-child(n + 3) {
            .form-control,
            .form-select{
                @include border-end-radius(0);
            }
        }
    }

    &.has-validation {
        > :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
        >.dropdown-toggle:nth-last-child(n + 4) {
            .form-control,
            .form-select{
                @include border-end-radius(0);
            }
        }
    }
}
