.gantt-frame{
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 400px;
    overflow: auto;

    --gantt-col-with: 30px
}

.gantt-frame-data{
    position: sticky;
    left: 0;
    // background-color: var(--bs-body-bg);
    z-index: 11;
    // border-right: 1px solid var(--bs-border-color);
    height: 32px;
    width: 130px;
}

.gantt-frame-data-header{
    height: 50px;
    display: flex;
    border-bottom: 1px solid var(--bs-border-color);
}

.gantt-frame-spacer{
    min-width: 130px;
    width: 130px;
    max-width: 130px;
}

.gantt-timeline-frame{
    position: relative;
}

.gantt-timeline-header{
    display: flex;
    min-width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;
    background-color: var(--bs-body-bg);
    border-bottom: 1px solid var(--bs-border-color);
}

.gantt-timeline-header-group{
    // background-color: var(--bs-body-bg);
    // border-bottom: 1px solid var(--bs-border-color);
    position: relative;
    height: 49px;
}

.gantt-timeline-header-group-name{
    font-size: 11px;
    padding: 0px 2px;
    height: 24px;
    line-height: 25px;
    color: var(--bs-secondary-color);

    position: absolute;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gantt-timeline-header-items{
    display: flex;
    margin-top: 25px;
}

.gantt-timeline-header-item{
    font-size: 10px;
    height: 25px;
    text-align: center;
    width: var(--gantt-col-with);
    font-weight: 500;
    flex-shrink: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

.gantt-timeline-header-item-active span{
    @extend .badge;
    @extend .text-success-emphasis;
    @extend .bg-success-subtle;
    font-size: 1em;
    padding: 0.35em;
}

.gantt-data-item{
    height: 32px;
    // padding: 0 10px;
    line-height: 32px;
    // border-bottom: 1px solid var(--bs-border-color);
    @extend .text-truncate;
}

.gantt-timeline{
    min-height: calc(100% - 50px);
    position: relative;
}

.gantt-timeline-item{
    height: 32px;
    padding: 5px 0;
    position: relative;
    user-select: none;
}

.gantt-timeline-item-indicator{
    display: block;
    position: absolute;
    height: 26px;
    border-radius: 6px;
    color: var(--bs-body-color);

    background-color: var(--bs-secondary-bg-subtle);
}

.gantt-timeline-item-progress{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;

    opacity: .75;

    background-color: var(--bs-secondary);
}

.gantt-timeline-grid{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.gantt-timeline-grid-group{
    height: 100%;
    display: flex;

    & + & > .gantt-timeline-grid-line:first-child{
        border-left: 1px solid var(--bs-border-color);
    }
}

.gantt-timeline-grid-line{
    height: 100%;
    width: var(--gantt-col-with);
    border-right: 1px solid var(--bs-border-color-translucent);
    position: relative;

    &:nth-last-child(1){
        border-right: none;
    }
}

.gantt-timeline-grid-line-active::after{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $success;
    z-index: 10;
    pointer-events: none;
}

.gantt-timeline-grid-line-inactive{
    background-color: var(--bs-body-bg);
    background-image: linear-gradient(-45deg, var(--bs-tertiary-bg) 25%, transparent 25%, transparent 50%, var(--bs-tertiary-bg) 50%, var(--bs-tertiary-bg) 75%, transparent 75%, transparent);
    background-size: calc(var(--gantt-col-with) / 2) calc(var(--gantt-col-with) / 2);
}

.gantt-frame[data-scale="month"] .gantt-timeline-grid-line-inactive{
    background-size: calc(var(--gantt-col-with) ) calc(var(--gantt-col-with));
}


.gantt-item-grab{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    top: 0;
    cursor: default;
    color: var(--bs-body-color);
    opacity: 0;
    z-index: 20;

    &:hover,
    &.active{
        opacity: 1;

        &::before{
            display: block;
        }
    }

    &::before{
        display: none;
        content: attr(data-title);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #000;
        color: #fff;
        font-size: 10px;
        line-height: 1;
        white-space: nowrap;
        padding: 5px;
        border-radius: 6px;
        font-variant: tabular-nums;
        pointer-events: none;
    }
}


.gantt-item-grab-start{
    right: 100%;
    margin-right: -13px;
}
.gantt-item-grab-end{
    left: 100%;
    margin-left: -13px;
}

.gantt-item-text{
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 26px;
    line-height: 26px;
    position: relative;
    z-index: 10;
    padding-left: .5rem;
    color: var(--bs-body-color);
    white-space: nowrap;
    font-size: 12px;
}

.gantt-sub-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 0 0 0 10px;
    border-left: 2px solid var(--bs-border-color-translucent);
    border-bottom: 2px solid var(--bs-border-color-translucent);
    margin-left: 10px;
    margin-right: 2px;
    position: relative;
    top: -2px;
}
