// x-action-button
.btn-action{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

// x-copy
.copy{
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    max-width: 100%;
}

.copy-text{
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy-btn{
    --bs-btn-padding-x: .25rem;
    --bs-btn-padding-y: 0;
    color: var(--bs-secondary-color);
}

// x-nav-switch
.nav-switch{
    padding: .1875rem;
    gap: .1875rem;
    background-color: var(--bs-secondary-bg);
    border-radius: var(--bs-border-radius);

    > .btn{
        --bs-btn-border-color: transparent;
        --bs-btn-color: var(--bs-secondary-color);
        --bs-btn-active-color: var(--bs-body-color);
        --bs-btn-active-bg: var(--bs-body-bg);
        --bs-btn-active-border-color: transparent;
        border-radius: calc(var(--bs-border-radius) - .125rem) !important;
        margin-left: 0 !important;
        display: inline-flex;
        align-items: center;
        gap: .375rem;
    }

    > .btn-check:checked + .btn,
    > .btn.active{
        box-shadow: var(--bs-box-shadow-sm);
    }
}
