@include color-mode(dark) {
    --#{$prefix}light: #{$gray-800};
    --#{$prefix}light-rgb: #{to-rgb($gray-800)};
    --#{$prefix}light-bg: #{$gray-800};
    --#{$prefix}light-bg-rgb: #{to-rgb($gray-800)};

    --#{$prefix}dark: #{$gray-200};
    --#{$prefix}dark-rgb: #{to-rgb($gray-200)};
    --#{$prefix}dark-bg: #{$gray-200};
    --#{$prefix}dark-bg-rgb: #{to-rgb($gray-200)};

    --bs-btn-hover-bg: #{rgba($gray-800, .6)};
    --bs-btn-active-bg: #{rgba($gray-800, .7)};

    .text-bg-dark {
        color: $gray-800 !important;
    }

    .text-bg-light {
        color: $gray-300 !important;
    }

    .dark-invert {
        filter: invert(100%);
    }

    .btn-light {
        @include button-variant(
            $gray-800,
            $gray-800,
            $hover-background: tint-color($gray-800, $btn-hover-bg-tint-amount),
            $hover-border: tint-color($gray-800, $btn-hover-border-tint-amount),
            $active-background: tint-color($gray-800, $btn-active-bg-tint-amount),
            $active-border: tint-color($gray-800, $btn-active-border-tint-amount)
        );
    }

    .btn-dark {
        @include button-variant(
            $gray-200,
            $gray-200,
            $hover-background: shade-color($gray-200, $btn-hover-bg-shade-amount),
            $hover-border: shade-color($gray-200, $btn-hover-border-shade-amount),
            $active-background: shade-color($gray-200, $btn-active-bg-shade-amount),
            $active-border: shade-color($gray-200, $btn-active-border-shade-amount)
        );
    }

	@each $color, $value in $table-variants-dark {
		@include table-variant($color, $value);
	}
}
