@include mobile(){
    .hide-mobile{
        display: none !important;
    }

    .form-control,
    .form-select,
    .btn{
        font-size: 1rem;
        line-height: 1.5;
    }

    .ql-editor{
        font-size: 1rem;
    }

    .nav-link{
        line-height: 1.5rem;
    }

    .dropdown-item{
        line-height: 1.5rem;
        padding: .5rem;
    }

    .btn-sq{
        width: 2.5rem;

        &.btn-sm{
            width: 2.25rem;
        }
    }
}

@include desktop(){
    .hide-desktop{
        display: none !important;
    }
}
