@use "sass:map";

$prefix: 'bs-';

@mixin desktop(){
    @include media-breakpoint-up(lg) {
        @content;
    }
}

@mixin mobile(){
    @include media-breakpoint-down(md) {
        @content;
    }
}

$enable-container-classes: false;
$container-max-widths: (
  xs: 360px,
  sm: 640px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$grid-gutter-width: 30px;

$gray-050: $tw-neutral-050;
$gray-100: $tw-neutral-100;
$gray-200: $tw-neutral-200;
$gray-300: $tw-neutral-300;
$gray-400: $tw-neutral-400;
$gray-500: $tw-neutral-500;
$gray-600: $tw-neutral-600;
$gray-700: $tw-neutral-700;
$gray-800: $tw-neutral-800;
$gray-900: $tw-neutral-900;

$blue:    $tw-blue-500 !default;
$indigo:  $tw-indigo-500 !default;
$purple:  $tw-purple-500 !default;
$pink:    $tw-pink-500 !default;
$red:     $tw-red-500 !default;
$orange:  $tw-amber-500 !default;
$yellow:  $tw-yellow-500 !default;
$green:   $tw-green-500 !default;
$teal:    $tw-teal-500 !default;
$cyan:    $tw-cyan-500 !default;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
$white:    #fff;
$black:    #000;

$primary-text-emphasis:   shade-color($primary, 40%);
$secondary-text-emphasis: shade-color($secondary, 40%);
$success-text-emphasis:   shade-color($success, 40%);
$info-text-emphasis:      shade-color($info, 40%);
$warning-text-emphasis:   shade-color($warning, 40%);
$danger-text-emphasis:    shade-color($danger, 40%);
$light-text-emphasis:     $gray-700;
$dark-text-emphasis:      $gray-700;

$light-bg-subtle:         $gray-100;
$dark-bg-subtle:          $gray-300;

// Body
$body-color: $gray-900;
$body-bg: #fff;

$primary: $tw-indigo-600;
// $body-secondary-bg: #ededed;
$body-secondary-bg: $tw-neutral-150;
$body-tertiary-bg: $gray-050;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: .875rem;
$line-height-base: calc(1.25 / 0.875);

$h1-font-size: 2.25rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;

$card-cap-bg: #f9fbfc;
$card-spacer-y: 1rem;

$headings-font-weight: 600;

$text-muted: #a7abc3;

// $border-color: $gray-200;
$border-color-translucent: rgba($gray-900, .075);
$border-radius-sm: 6px;
$border-radius: 10px;
$border-radius-lg: 10px;
$border-radius-xl: 12px;
$border-radius-xxl: 16px;

$box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$box-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$box-shadow-lg: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

$input-btn-padding-x: .75rem;
$input-btn-padding-y: .4375rem;
$input-padding-x: .625rem;

$btn-font-weight: 500;
$btn-border-radius: 10px;
$btn-border-radius-sm: 10px;
$btn-line-height: 1.25rem;

$input-btn-padding-y-sm:      .3125rem !default;
$input-btn-padding-x-sm:      .625rem !default;
$input-btn-font-size-sm:      .875rem;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-font-size-lg: 1rem;

:root{
    --bs-btn-active-border-color: transparent;
    --bs-btn-hover-bg: #{rgba($gray-300, .2)};
    --bs-btn-active-bg: #{rgba($gray-300, .3)};
    --bs-btn-hover-color: var(--bs-body-color);
}

$navbar-brand-font-size: 1rem;

$nav-link-font-weight: 500;
$nav-tabs-link-color: var(--bs-body-color);
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-border-color: $primary;
$nav-tabs-link-hover-border-color: var(--bs-border-color);
$nav-tabs-border-width: 2px;
$nav-tabs-border-radius: 0;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-border-color: var(--bs-secondary-bg);
$nav-pills-border-radius: $border-radius;
$nav-pills-link-color: var(--bs-body-color);
$nav-pills-link-active-color: var(--bs-body-color);
$nav-pills-link-active-bg: var(--bs-secondary-bg);
$nav-link-padding-y: .5rem;
$nav-link-padding-x: .5rem;

$label-margin-bottom: .25rem;

$alert-padding-x: 1rem;

$paragraph-margin-bottom: .5rem;

$badge-font-weight: 500;
$badge-border-radius: 6px;
$badge-font-size: 12px;
$badge-padding-x: .375rem;
$badge-padding-y: .25rem;

$breadcrumb-divider: '›';
$breadcrumb-margin-bottom: 0;

$dropdown-min-width: 12rem;
$dropdown-padding-x: .5rem;
$dropdown-padding-y: .5rem;
$dropdown-item-padding-y: .4rem;
$dropdown-item-padding-x: .4rem;
$dropdown-border-radius: calc(4px + .5rem);
:root{
    --bs-dropdown-item-border-radius: 4px;
}
$dropdown-link-active-bg: var(--bs-secondary-bg);
$dropdown-link-active-color: var(--bs-body-color);
$dropdown-border-color: rgba($gray-500, .075);
$dropdown-divider-bg: rgba($gray-500, .1);

$form-label-font-weight: 500;
$form-label-margin-bottom: .25rem;

$pagination-color: var(--bs-body-color);
$pagination-border-width: 0;
$pagination-bg: transparent;
$pagination-active-bg: var(--bs-secondary-bg);
$pagination-active-color: var(--bs-body-color);
$pagination-hover-color: var(--bs-body-color);
$pagination-focus-color: var(--bs-body-color);
$pagination-disabled-color: var(--bs-tertiary-color);
$pagination-disabled-bg: transparent;

$list-group-item-padding-y: .5rem;
$list-group-item-padding-x: .5rem;
$list-group-border-color: var(--bs-secondary-bg);
$list-group-bg: transparent;

$enable-negative-margins: true;
$spacer: 1rem;
$spacers: (
  0: 0,
);

@for $i from 1 through 20 {
    $spacers : map.merge($spacers, (
        $i : 0.25rem * $i
    ));
}
