a{
    text-decoration: none;
}

.card-header{
    font-weight: 500;
    font-size: 1rem;
}

.logincard{
    width: 430px;
    max-width: 100%;
}


.stat{
    display: flex;
    align-items: start;
    line-height: 1.2;
}

.stat-ico{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .7);

    &.is-green{
        background: rgba(40, 199, 111,.7);
    }
    &.is-red{
        background: rgba(234, 84, 85, .7);
    }
    &.is-purple{
        background: rgba(99, 132, 255, .7)
    }
}

.stat-name{
    font-size: 14px;
    color: #6c757d;
}

.stat-value{
    font-size: 20px;
    font-weight: 700;
}
.nav-item .stat{
    padding-left: 1rem;
}

.btn-facebook{
    color: white;
    background: #4267B2;

    &:hover,
    &:focus{
        color: white;
        background: #3a5b9c;
    }
}

.table-actions{
    text-align: right;
}


.list-notifications{
    width: 360px;
    max-width: 80vw;
    max-height: 90vh;
}

// .alert{
//     position: fixed;
//     z-index: 100;
//     bottom: 0;
//     width: 500px;
//     right: 2rem;
//     max-width: calc(100% - 4rem);
// }


.card-action {
    padding: 0 $card-spacer-x $card-spacer-y;
    display: flex;
    justify-content: flex-end;
}

.custom-checkbox{
    cursor: pointer;

    .custom-control-label{
        cursor: pointer;
    }
}


.form-group label{
    font-weight: 500;
}


@include media-breakpoint-down(sm) {
    h1{
        font-size: 1.625rem; // 26
    }

    h2{
        font-size: 1.5rem; // 23
    }

    h3{
        font-size: 1.4rem; //21
    }

    h4{
        font-size: 1.3rem; //21
    }
}

.invalid-feedback strong{
    font-weight: 500;
}

.table th{
    font-weight: 500;
    vertical-align: middle;
}

.form-group{
    margin-bottom: 1rem;
}

.editor{
   min-height: 80px;
}

.image-thumb{
    cursor: pointer;
    position: relative;
    display: inline-block;

    &:hover::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.2);
        z-index: 1;
    }
}

.image-thumb-ico{
    display: none;
    pointer-events: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.image-thumb:hover .image-thumb-ico{
    display: block;
}


.collapsed .collapse-indicator{
    transform: rotate(180deg);
}

.dropdown-item-icon{
    width: 1rem;
    text-align: center;
    margin-right: .5rem;
}

.page-link{
    font-variant: tabular-nums;
}