// Body
$body-bg: #fff;

// $red: #e34d4d;
$green: #18c063;
$orange:  #ff9f43;
$cyan: #0ea5e9;

$primary: #5343e1;
$light: #f6f7f9;

$warning: $orange;

$alert-bg-level: -9;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
// $font-size-base: 0.875rem;
// $line-height-base: 1.6;
$h1-font-size: 2rem;

$card-cap-bg: #f9fbfc;

$border-radius: .375rem;
$card-spacer-y: 1rem;

$headings-font-weight: 700;

$text-muted: #a7abc3;

// $btn-font-size: 0.875rem;
$btn-font-weight: 500;

$container-max-widths: (
  sm: 1140px,
  md: 1140px,
  lg: 1140px,
  xl: 1140px
);


$nav-tabs-link-color: #575a5d;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-border-color: $primary;
$nav-tabs-link-hover-border-color: #b9bdc2;
$nav-tabs-border-width: 2px;
$nav-tabs-border-radius: 0;

$label-margin-bottom: .25rem;

$alert-padding-x: 1rem;
