a{
    // text-decoration: none;
}

.card-header{
    font-weight: 500;
    font-size: 1rem;
}

.logincard{
    width: 430px;
    max-width: 100%;
}


.stat{
    display: flex;
    align-items: start;
    line-height: 1.2;
}

.stat-ico{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .7);

    &.is-green{
        background: rgba(40, 199, 111,.7);
    }
    &.is-red{
        background: rgba(234, 84, 85, .7);
    }
    &.is-purple{
        background: rgba(99, 132, 255, .7)
    }
}

.stat-name{
    font-size: 14px;
    color: #6c757d;
}

.stat-value{
    font-size: 20px;
    font-weight: 700;
}
.nav-item .stat{
    padding-left: 1rem;
}

.btn-facebook{
    color: white;
    background: #4267B2;

    &:hover,
    &:focus{
        color: white;
        background: #3a5b9c;
    }
}

.table-actions{
    text-align: right;
}


.list-notifications{
    width: 360px;
    max-width: 80vw;
    max-height: 90vh;
}

// .alert{
//     position: fixed;
//     z-index: 100;
//     bottom: 0;
//     width: 500px;
//     right: 2rem;
//     max-width: calc(100% - 4rem);
// }


.card-action {
    padding: 0 $card-spacer-x $card-spacer-y;
    display: flex;
    justify-content: flex-end;
}

.custom-checkbox{
    cursor: pointer;

    .custom-control-label{
        cursor: pointer;
    }
}

.form-group label{
    font-weight: 500;
}

.invalid-feedback strong{
    font-weight: 500;
}

.table th{
    font-weight: 500;
    vertical-align: middle;
}

.form-group{
    margin-bottom: 1rem;
}

.editor{
   min-height: 80px;
}

.image-thumb{
    cursor: pointer;
    position: relative;
    display: inline-block;

    &:hover::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.2);
        z-index: 1;
    }
}

.image-thumb-ico{
    display: none;
    pointer-events: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.image-thumb:hover .image-thumb-ico{
    display: block;
}


.collapsed .collapse-indicator{
    transform: rotate(180deg);
}


.ql-toolbar.ql-snow,
.ql-container.ql-snow{
    background: white;
}

@include color-mode(dark) {
    .ql-toolbar.ql-snow,
    .ql-container.ql-snow{
        background: transparent;
        border-color: #495057;
    }

    .ql-editor.ql-blank::before{
        color: #495057;
    }

    .ql-snow .ql-stroke{
        stroke: #a5a5a5;
    }
}

.hide-mobile{
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

select[multiple]{
    height: 50px;
}

.select2{
    width: 100% !important;
}

.breadcrumb-item a{
    text-decoration: none;
}

.btn-danger{
    color: white;

    &:hover{
        color: white;
    }
}

.bi{
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.125em;
    fill: currentcolor;
}

.random-bg-1{
    background-color: rgba($tw-green-500, .5);
}
.random-bg-2{
    background-color: rgba($tw-sky-400, .5);
}
.random-bg-3{
    background-color: rgba($tw-red-500, .5);
}
.random-bg-4{
    background-color: rgba($tw-yellow-500, .5);
}
.random-bg-5{
    background-color: rgba($tw-indigo-500, .5);
}
.random-bg-6{
    background-color: rgba($tw-orange-500, .5);
}

.dropdown-menu{
    box-shadow: var(--bs-dropdown-box-shadow);
}

@include color-mode(dark) {
    .dropdown-menu{
        background-color: #0f0f0f;
    }
}

.dropdown-item{
    display: flex;
    align-items: center;
}

.dropdown-ico{
    width: 1.25rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    color: var(--bs-tertiary-color);
    margin-right: .5rem;
}

.dropdown-img{
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    line-height: 2rem;
    margin-right: .75rem;
    font-size: .875rem;

    img{
        width: 100%;
        height: 100%;
    }
}

.btn-toggle{
    display: inline-flex;
    align-items: center;
}

.btn-toggle::before {
    width: 1.25em;
    margin-right: .5rem;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.page-link{
    border-radius: $pagination-border-radius;
}