@include mobile(){
    .hide-mobile{
        display: none !important;
    }

    .form-control,
    .btn{
        font-size: 1rem;
        line-height: 1.5;
    }

    .nav-link{
        line-height: 1.5rem;
    }

    .dropdown-item{
        line-height: 1.5rem;
        padding: .5rem;
    }

    .btn-sq{
        width: 2.5rem;
    }
}

@include desktop(){
    .hide-dektop{
        display: none !important;
    }
}
